<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="icono" alt="menu" />
    </button>
    <a href="">
      <img src="logo" alt="logo" />
    </a>
    <a href="">
      <img src="cart" alt="logo" />
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img src="logo" alt="logo" />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">nicolas@nicolas</div>
      <div>
        <a href="">
          <img src="cart" alt="carrito" />
        </a>
      </div>
    </div>
  </div>
</div>
